@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins:wght@100;200;300;400;500&display=swap');


*{
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

:root{
    --white: #fff;
    --black: #000;
    --red: #ff6a48;
    --yellow: #ffcc00;
    --gray: #ccc;
    --light-gray: #f5f8f2;
    --light-gray-2: #efefef;
    --light-gray-3: #e8ffd0;
    --light-white: #f0f8ff;
    --light-green: #73be20;
    --dark-green: #3e690a;
    --playfair-family: 'Playfair Display', sans-serif;
    --box-shadow: rgb(0 0 0 / 10%) 0 0 15px;
}

a{
    text-decoration: none !important;
    margin: 0 10px;
}

p{
    line-height: 1.8;
}

h3, .title{
    font-family: var(--playfair-family);
    font-weight: 800 !important;
}

.select{
    padding: 0 20px;
    margin-right: 30px;
    height: 35px;
    border: 1px solid #eee;
    color: #49494f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer !important;
    background: #eee;
    border-radius: 7px;
}

.select:focus{
    outline: none;
}

.site_text{
    color: var(--light-green);
}

.site_btn{
    background-color: var(--light-green);
    color: var(--white);
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.site_font, .site_font a{
    font-family: var(--playfair-family);
    font-size: 30px;
    font-weight: 600;
}

.site_price{
    color: var(--red);
}

.site_btn:hover{
    color: var(--black);
}

.site_btn_outline{
    color: var(--black);
    background-color: transparent;
    border: 2px solid var(--light-green);
}

.site_btn_outline:hover{
    color: var(--white);
    background-color: var(--light-green);
}

.site_btn_cart{
    padding: 10px !important;
}

.change_bg{
    background-color: var(--light-gray);
}

.main-banner{
    background-image: url(../../../images/contact-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding: 5% 0;
}

.breadcrumb-item a{
    color: var(--light-green);
}

.breadcrumb-item.active, .breadcrumb-item a:hover{
    color: var(--white) !important;
}

.social-links a:hover{
    color: var(--black);
}

blockquote{
    border-left: 8px solid var(--light-green);
    padding-left: 10px;
}

.accordion-button:focus{
    box-shadow: none !important;
}

/********** header css **********/
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .top-header,.accordion-body{
    background-color: var(--light-green);
    color: var(--white);
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.sub-header{
    display: none;
}

.social-links .links{
    color: var(--white);
}

.dropdown-toggle:focus{
    box-shadow: none !important;
}

.dropdown-menu{
    min-width: 0 !important;
    background-color: rgba(245, 245, 245, 0.95) !important;
    transition: all ease .5s !important;
    transform: translateY(25px) !important;
    inset: 10px auto auto 0px !important;
}

.main-header .container a, .nav-links{
    color: var(--black);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.main-header .container a:hover, .nav-links:hover{
    color: var(--light-green);
}

.top-header-dropdown:hover {
    color: var(--white) !important;
    background-color: var(--black) !important;
}

.main-header-dropdown:hover {
    color: var(--white) !important;
    background-color: var(--light-green) !important;
}

/********** slider css **********/
.slider{
    justify-content: end !important;
    top: 50%;
    bottom: 50% !important;
    margin-right: 1% !important;
}

.slider button, .testimonial button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}

.carousel-item img{
    transition: all 3s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.3);
}

.carousel-caption{
    top: 30% !important;
    bottom: 40% !important;
}

.carousel-caption h1, .carousel-caption h2, .main-banner h1{
    font-weight: 600;
    font-family: var(--playfair-family);
}

/********** services css **********/
.services-inner{
    box-shadow: var(--box-shadow);
}

.services-inner:hover{
    background-image: url(../../../images/background.png);
}

.services-inner:hover .read_more, .about-inner:hover .read_more{
    background-color: var(--light-green);
    color: var(--white);
}

.read_more{
    box-shadow: var(--box-shadow);
    padding: 20px 25px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    background: var(--light-white);
    color: var(--black);
}

/********** banner css **********/
.banner{
    background-image: url(../../../images/banner.png);
    padding: 30px;
}

.banner-inner{
    padding: 60px;
}

.pause_logo{
    background: var(--light-green);
    padding: 20px 30px;
    border-radius: 50%;
    font-size: 36px;
    margin: 20px 0;
    cursor: pointer;
}

/********** products css **********/
.products-inner{
    border: 2px solid var(--light-gray-2);
    position: relative;
}

.products-inner:hover{
    box-shadow: var(--box-shadow);
}

.products-inner:hover .products-inner-most{
    opacity: 0.3
}

.products-inner:hover .add_to_cart{
    display: block;
}

.add_to_cart{
    position: absolute;
    top: 50%;
    left: 33%;
    display: none;
}

.product-toggle{
    display: flex;
}

/********** posts css **********/
.site_font a{
    color: var(--black);
}

.site_font a:hover{
    color: var(--light-green);
}

.post-detail{
    margin: 0 15px;
    margin-top: -30px;
    box-shadow: var(--box-shadow);
}

/********** footer css **********/
.top-footer, .bottom-footer{
    background-color: var(--light-green);
}

.subscribe_input{
    width: 65%;
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

.subscribe_input:focus{
    outline: none;
}

.subscribe_input::placeholder{
    color: var(--white);
}

.subscribe_btn{
    padding: 10px;
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);

}

.subscribe_btn:hover{
    color: var(--black);
}

.nav-links{
    font-weight: 500 !important;
}

.back_to_top{
    padding: 10px;
    border: 2px solid #fff;
    color: #fff
}

.footer-col-1, .footer-col-2{
    border-right: 2px solid var(--light-gray-2);
}

/********** about css **********/
.about-inner{
    border: 8px solid var(--light-gray-2);
}

.about-inner:hover{
    background-image: url(../../../images/leaves.png);
    border-color: var(--light-green);
}

.about-banner{
    padding: 50px 0;
    background: url(../../../images/about-fixed-banner.png) no-repeat center / cover fixed;
}

.about-list li{
    margin: 10px 0;
}

.about-list span{
    color: var(--light-green);
    width: 23px;
    height: 23px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}

.fa-star{
    font-size: 24px;
}

.fa-star.active{
    color: var(--yellow);
}

.testimonial-carousel{
    padding: 50px 0;
}

.testimonial button{
    background-color: var(--black) !important;
}

.testimonial-inner{
    padding-bottom: 50px;
}

.testimonial-inner img{
    border: 1px solid var(--light-gray-2);
    border-radius: 50%;
}

/********** contact css **********/
.contact-inner{
    background-color: var(--light-green);
}

.contact-ul li{
    border-bottom: 2px solid var(--light-gray-2);
}

.contact-fields{
    width: 100%;
    border: 2px solid var(--light-gray-2);
    border-radius: 30px;
    padding: 15px 25px;
}

.contact-fields:focus{
    box-shadow: none;
    border-color: var(--light-green);
    outline: none;
    background: var(--light-gray-3);
}

/********** shop css **********/
.sidebar_widget{
    border-bottom: 1px solid var(--light-gray-2);
}

.widget_title h4 {
    display: inline-block;
    margin: 0 auto;
    font-size: 28px;
    position: relative;
}

.widget_title h4:before {
    content: "";
    position: absolute;
    top: 16px;
    right: -60px;
    width: 40px;
    height: 2px;
    background: var(--light-green);
}

.widget_title h4:after {
    content: "";
    position: absolute;
    top: 16px;
    left: -60px;
    width: 40px;
    height: 2px;
    background: var(--light-green);
}

.sidebar_widget form {
    position: relative;
}

.search_btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #73be20;
    border: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
    height: 100%;
    padding: 10px 25px;
    cursor: pointer;
}

.tags button{
    margin: 5px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid var(--light-gray-2);
    border-radius: 15px;
}

.tags button:hover{
    background: var(--light-green);
}

.tags button a{
    color: var(--black);
}

.tags button:hover a:hover{
    color: var(--white);
}

.shop-inner-most, .tab-pane{
    background-color: var(--light-gray-2);
    border-radius: 10px;
}

.shop-inner-most .shop_btn{
    border: 1px solid var(--light-gray-3);
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--black);
}

.shop-inner-most{
    padding-left: 3rem;
    padding-right: 3rem;
}

.shop-inner{
    position: relative;
    cursor: pointer;
}

.shop-inner:hover{
    box-shadow: var(--box-shadow);
}

.shop-inner:hover .shop-actions{
    display: block;
}

.shop-inner:hover .shop_btn{
    background: var(--light-green);
    color: var(--white);
}

.shop-actions{
    top: 10%;
    left: 30%;
    position: absolute;
    display: none;
}

.shop-actions a, .cart-actions a{
    padding: 10px;
    background: var(--light-green);
    color: var(--white);
    border-radius: 5px;
}

.shop-actions a:hover, .cart-actions a:hover{
    background: var(--black);
    color: var(--white);
}

.pagination .page-link{
    color: var(--black);
    border-radius: 5px;
}

.pagination .page-link:hover, .pagination .page-link.current{
    background: var(--light-green);
    color: var(--white);
}

.slick-arrow::before{
    font-size: 50px !important;
    color: var(--light-green) !important;
}

.slick-prev{
    text-align: start;
    left: -42px !important;
}

.slick-next{
    text-align: end;
    right: -42px !important;
}

.slick-dots li{
    margin: 0px !important;
}

/********** post css **********/
.post_info {
    width: 70%;
    top: -45px;
    margin: auto;
    padding: 35px;
    background: var(--white);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
}

.widget_links a i{
    width: 40px;
    height: 40px;
    border: 1px solid #e3e3e3;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    color: #b5b5b5;
}

.widget_links a i:hover{
    background: var(--light-green);
    color: var(--white);
}

.post_thumb{
    height: 60px;
    width: 80px;
    display: inline;
}

/********** cart css **********/
.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    appearance: none;
    outline: 0;
}

.counter span {
    width: 50px;
    display: block;
    font-size: 20px;
    cursor: pointer;
    background: var(--light-green);
    color: var(--white);
    user-select: none;
}

.view-product .slick-prev{
    left: 20px !important;
}

.view-product .slick-next{
    right: 20px !important;
}

/********** checkout css **********/
.payment-cards a i{
    color: var(--light-green);
}

.payment-cards a i:hover{
    color: var(--black);
}

/********** view product css **********/
.nav-pills .nav-link, .nav-pills .nav-link:hover{
    color: var(--black);
    cursor: pointer;
    border-radius: 0% !important;
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    color: var(--light-green) !important;
    background-color: transparent !important;
    border-bottom: 2px solid var(--light-green);
}

.comment-reply{
    margin-left: 100px;
}

/********** media query css **********/
@media only screen and (max-width: 992px){
    .top-header .contact-details, .top-header .social-links{
        text-align: center !important;
    }

    .main-header-inner{
        display: none;
    }

    .sub-header{
        display: block;
    }

    .slider .carousel-inner{
        height: 400px;
    }

    .slider .carousel-inner .carousel-item, .slider .carousel-inner .carousel-item img{
        height: 100%;
    }

    .slider .carousel-caption{
        padding-top: 0px !important;
    }

    .slider .carousel-caption h2, .slider .carousel-caption h1{
        font-size: 28px !important;
    }

    .post_info{
        width: 80%;
    }

    .shop-inner-most{
        padding-left: 0px;
        padding-right: 0px;
    }

    .banner h3{
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px){
    .product-toggle{
        display: block;
    }
}